name: collection-build

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the collection
        run: |
          ansible-galaxy collection build
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Test importer on generated tarball
        run: |
          export GALAXY_IMPORTER_CONFIG=./galaxy-importer.cfg
          python -m pip install -r requirements.txt
          python -m galaxy_importer.main datadog-dd-*.tar.gz 2>&1 | tee importer.log
          if grep -Eqi "(error|warning)" importer.log; then
            exit 1
          fi
      - name: Archive recent build
        uses: actions/upload-artifact@v5
        with:
          name: collection-build
          path: datadog-dd-*.tar.gz
          retention-days: 1
